    /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
    @import url('https://fonts.googleapis.com/css2?family=Outfit');

    * {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    body {
        background: hsl(212, 45%, 89%);
        background-size:cover;
    }

    .container {
        width: 250px;
        height: 400px;
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 10px rgba(0, 0, 0, 0.2);
        background-color: hsl(0, 0%, 100%);
    }

    img {
        border-radius: 15px;
        vertical-align: top;
        position: absolute;
    }

    h1 {
        font-size: 20px;
        color: hsl(218, 44%, 22%);
        text-align: center;
        font-weight: Bold;
    }

    p {
        font-size: 15px;
        color: hsl(216, 15%, 48%);
        text-align: center;
    }